<ion-content padding class="auth-page">
    <img src="http://placehold.it/300x100" />
    <form [formGroup] = "resetPasswordForm">
    
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched">
        </ion-input>
      </ion-item>
  
      
      <ion-item class="error-message" *ngIf="!resetPasswordForm.controls['email'].valid&&resetPasswordForm.controls['email'].touched"> 
        <ion-label>Please enter a valid email address.</ion-label>
      </ion-item>
      
      <ion-item class="error-message" *ngIf="!resetPasswordForm.controls['password'].valid&&resetPasswordForm.controls['password'].touched"> <ion-label>Your password needs more than 6 characters.</ion-label>
      </ion-item>    
  
      <ion-button (click)="resetPassword(resetPasswordForm)" expand="block" [disabled]="!resetPasswordForm.valid">
        Reset your Password
      </ion-button>
    </form>
  </ion-content>