<ion-tabs>
  <ion-tab label="Inventory" icon="list" href="/tabs/(inventory:inventory)">
    <ion-router-outlet name="inventory"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Shopping List" icon="pricetags" href="/tabs/(shopping-list:shopping-list)">
    <ion-router-outlet name="shopping-list"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
