// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.auth-page {
    form {
        margin-bottom: 32px;
        button { margin-top: 20px !important; }
    }


    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    .error-message {
        min-height: 2.2rem;
        p {
            font-size: 60%;
            color: #ff6153;
        }
        ion-label { margin: 2px 0;}
        .item-inner { border-bottom: 0 !important; }
    }
}